@CHARSET "ISO-8859-1";
header{
	
	padding:60px;	
	border-bottom:1px solid black;
	background-color:green;
	color:yellow;
	
}
h1{
	font-family:"calibri", Garamond, 'Comic Sans';
	font-size:30px;
	color:yellow;
}

h2{
	font-family:"calibri", Garamond, 'Comic Sans';
	font-size:20px;
	color:blue;
}
table{
	
	
}
section{
	
	padding :70px;
	background-color:#F6D8CE;
}
#section1{
	
	border:2px solid red;
	
}
footer{
	
	border-top:1px solid black;
	padding:70px;
	background-color:green;
	color:yellow;
}